/*
    Insurance: Item Tracker
    by Michael Cabot
*/

@font-face {
    font-family: 'techna_sansregular';
    src: url('fonts/technasans-regular-webfont.eot');
    src: url('fonts/technasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/technasans-regular-webfont.woff2') format('woff2'),
         url('fonts/technasans-regular-webfont.woff') format('woff'),
         url('fonts/technasans-regular-webfont.ttf') format('truetype'),
         url('fonts/technasans-regular-webfont.svg#techna_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('fonts/icomoon.woff2') format('woff2'),
         url('fonts/icomoon.woff') format('woff'),
         url('fonts/icomoon.ttf') format('truetype'),
         url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}